.footer
{
    height: 180px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-1
{
    display: block;
    width: 35%;
}
.footer-2
{
    display: block;
    width: 20%;
}
.footer-3
{
    display: block;
    width: 25%;
}

.footer-icon img
{
    height: 20px;
    width: 20px;
}

.footer-title
{
    font-weight: 700;
    font-size: 24px;
}